@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css?family=Trade+Winds');

/* bootstrap scss override
$theme-colors: (
  "primary": #666699,
); */

$font-stack: 'Roboto',
Helvetica,
sans-serif !important;

body {
  font-family: 'Trade Winds', cursive !important;
  position: relative;

}

h1,
.lead,
p {
  color: #fff;
}

button,
span {

  a,
  a:visited,
  a:hover {
    color: #fff;
    text-decoration: none !important;
  }

}

p {
  text-align: center;
}


p button {
  margin: 0 auto;
  padding: 1em;
  display: block;
  margin-top: .5em !important;
}

span {
  margin: .6em;
  display: inline-block;
}

.img-fluid {
  max-width: 100px !important
}

.techs {
  max-width: 85vh;
  margin: 0 auto;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../img/chuttersnap-758542-unsplash.jpg');
  background-size: 100% auto;
  background-attachment: fixed;
  background-position: bottom;
}

.polaroid {
  position: absolute;
  bottom: 1vw;
  right: 10px;
  z-index: 10;
  width: 16vw;
  height: 18vw;
  background-color: #fff;
  transform: rotate(5deg);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

}

.polaroidImage {
  position: absolute;
  width: 90%;
  height: 80%;
  margin: 5px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  z-index: 1;
}